body {
  
}

}

.loks {
}


 p  {

        font-family:Helvética;
        font-size: 25px;
    }


 h2  {

        font-family:  'Kanit;', sans-serif;
        font-size: 28px;
    }

     h4  {

        font-family:  'Helvética;', sans-serif;
        font-size: 24px;
    }


     h3  {

        font-family:  'Helvética;', sans-serif;
        font-size: 24px;
    }

